body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    
    margin-bottom: 0px;
    text-align: center;
    font-family: "Merriweather", serif;
}
h1{
    margin:50px auto 0 auto;
    font-family: "Sacramento", cursive;
    font-size: 562.5%;  
    color: #4A70A9;
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    color: #4A70A9;
    margin-top: 0px;

}
.role{
    font-weight: normal;
}
h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: #11999E;
    margin-bottom: 0px;
}
a{
    color:#11999E;
}
.top {
    position: relative;
    background-color: #A8D8EA;
    padding-top: 100px;
    
}


.topcloud{
    position: absolute;
    right:300px;
    top:50px;
}

.bottomcloud{
    position: absolute;
    left:300px;
    top:350px;
}

.profilepic{
    margin-top:50px;
    width:20%;
    height:20%;
}

.icon1{
    width: 25%;
    height:10%;
    float: left;
    margin-right:30px;

}
.icon2{
    width: 25%;
    height:10%;
    float: right;
    margin-left:30px;
   

}

.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

hr {
    border-style: none;
    border-top:dotted;
    width:5%;
    border-width: 8px;
    color:grey;
    margin-top:50px;
    margin-bottom:50px;
}
.BUTTON_SAD {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   font-weight: bold;
   padding: 11px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_SAD:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.middle-container{
    margin-bottom: 50px;
}
.bottom-container{
   padding:50px 0 20px;
    background-color: #A8D8EA;

}

a{
    color: #4A70A9;
    margin-right: 30px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

a:hover{
    color:#EAF6F6
}

.copyright{
    color:#EAF6F6;
    font-size:0.9em;
    padding: 20px 0;
}
/* .desc1{
    clear:left;
}

.desc2{
    clear:right;
}
*/